a {
  color: cyan;
  font-size: 15px;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
}
h1 {
  position: relative;
  left: 142.5px;
}

h4 {
  position: relative;
  left: 142.5px;
}
.block {
  background-color: blue;
  width:886px;
  height: 165px;
}

p {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

aside {
  width: 181px;
  font-family: sans-serif;

}

figcaption {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}

footer {
  font-weight: bold;
}

blockquote {
  color: cyan;
  -webkit-margin-start: 0px;
}

body {
  font-family: sans-serif;
  width: 886px;
}

h2 {
  font-weight: bold;
  color: cyan;
  font-size: 1.17em;
}

.main {
  width: 390px;
  margin-left: 142.5px;
  margin-right: 0px;
}

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
}


.box-1 {
  width: 390px;
  margin-right: 0px;
}
