a {
  color: cyan;
  font-size: 15px;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
}

p {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

aside {
  width: 181px;
  font-family: sans-serif;

}

figcaption {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}

footer {
  font-weight: bold;
}

blockquote {
  color: cyan;
  -webkit-margin-start: 0px;
}

body {
  font-family: sans-serif;
  width: 886px;
}

h2 {
  font-weight: bold;
  color: cyan;
  font-size: 1.17em;
}

.main {
  width: 390px;
  margin-left: 142.5px;
  margin-right: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.box-1 {
  width: 390px;
  margin-right: 30px;
}
