a {
  color: cyan;
  font-size: 15px;
}

h3 {
  font-weight: bold;
}

p {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

aside {
  width: 28.5%;
  float: right;
  font-family: sans-serif;
}

figcaption {
  font-weight: lighter;
  font-size: 15px;
  line-height: 23px;
}
